<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>295968556562-4acvanbd77neqo4govbof4rm8d6ht3mh.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.295968556562-4acvanbd77neqo4govbof4rm8d6ht3mh</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>295968556562-o7c8lrqj1tfup8j5c8fb0868gv2or5ek.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyCqHwPntnQVxyzJFFKrfB2raMNgzPRtAh8</string>
		<key>GCM_SENDER_ID</key>
		<string>295968556562</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.itz.kitchens.guardian</string>
		<key>PROJECT_ID</key>
		<string>kdasda-976c4</string>
		<key>STORAGE_BUCKET</key>
		<string>kdasda-976c4.firebasestorage.app</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:295968556562:ios:412f970fec3d4eec08facb</string>
	</dict>
</plist>